{% extends "email/base.html" %}
{% load i18n %}
{% block content %}
<tr>
  <td class="content-block">如果该邮箱关联 ICThub 账号，可使用下面的按钮重置密码。</td>
</tr>
<tr>
  <td class="content-block">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody><tr><td align="center"><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td><a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">重置密码</a></td></tr></tbody></table></td></tr></tbody>
    </table>
  </td>
</tr>
<tr>
  <td class="content-block">链接将在 {{ expires|timeuntil }} 后失效且只能使用一次。如果你没有请求重置密码，请忽略此邮件。</td>
</tr>
{% endblock %}
